@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --light: #eaecee;
    --color-text: #3c3e41;
    --box-shadow: 
    5px 5px 15px #c1c8d3, 
    -5px -5px 15px #ffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);
}
a{
    color: #3c3e41;
    text-decoration: none;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1F2A44;
    background-image: url(assets\Bird-Loader.webp);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
}


body{
    padding: 0;
    margin: 0;
    background-color: var(--light);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

#home{
    position: absolute;
    top: 0;
}

header{
    position: sticky;
    top: 0;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-bottom: 1px solid #dce1e4;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light);
    z-index: 2;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    height: 4rem;
}
header ul{
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}
header ul li {
    padding: 0 30px;
    border-radius: 15px;
    transition: 0.08s ease-in-out;
    border: 2px solid transparent;
    
    &:hover {
        border-color: #1fc667;
        transform: scale(1.1);

        a {
            color: #1fc667;
        }
    }
}

header ul li a{
    font-size: 1.1rem;
}

h1 span{
    background: var(--gradient-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* page 4 */
.page4 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.page4 .container img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page4 h1 {
    margin-bottom: 20px;
}

.page4 p {
    font-size: 18px;
    margin-top: 20px;
}
/*  */

/* page 1 */

.page1{
    pointer-events: none;
    display: flex;
    justify-content: space-evenly;
    gap: 18em;
    align-items: center;
    margin: 5em 0 7em 0;
}

.page1 .left{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.page1 .left .name h1{
    font-size: 2.2em;
    line-height: 1.2;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900;
}
.page1 .left .name h1, .page1 .left h5, .page1 .left h4{
    margin: 0;
    padding: 0;
}

.page1 .left h4{
    color: #1fc667;
}

.page1 .right img{
    height: 30em;
    border-radius: 2em;
}
.page1 .right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 .right::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: crimson; */
    box-shadow: 1em 1em 3em rgb(159, 159, 159), -1em -1em 3em rgb(159, 159, 159);
    border-radius: 2em;
    width: 110%;
    height: 110%;
    z-index: -1;
}
.container{
    position: relative;
    width: 1200px;
    max-width: 90%;
    margin: auto;
}
/* typing text Cursor animation */
.typewrite {
  font-size: 1em;
  text-decoration: none;
  color: #1fc667;
}

.blink-border {
  border-right: 0.12em solid gray;
  padding-right: 0.1em;
  animation: blink 0.8s steps(2, start) infinite;
  visibility: hidden;
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}
/*  */

header{
    box-shadow: 0px .2px 2px gray;
}
header .navDiv,
header .nav label,
header input{
    display: none;
}

.navDiv label i{
    font-size: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
    padding-top: 25px;
}
.listSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}
.listSkill .evaluate{
    width: 100%;
    height: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}
.listSkill .evaluate::before{
    position: absolute;
    height: 100%;
    width: var(--point);
    background-image: var(--gradient-bg);
    content: '';
    border-radius: 10px;
}
.listProject{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}
.listProject .item{
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}
.listProject .item img{
    width: 90%;
    border-radius: 20px;
}

.listProject .item .sub-name{
    /* text-wrap: nowrap; */
    font-size: 0.7em;
}

.listSkill .item .name{
    font-size: 1rem;
}

footer{
    margin-top: 5em;
    font-size: .6em;
    margin-bottom: 2em;
}
#contact {
    display: none;
    min-height: 10rem;
}
.contact{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact i{
    width: 50px;
    height: 50px;
    font-size: 1rem;
    margin: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}
.contact i:hover{
    background-image: var(--gradient-bg);
    color: #fff;
}



/* KJ */

.para {
    font-size: 0.9em;
    font-weight: 700;
}
.ri-graduation-cap-fill {
    font-size: 7em;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 30;  
  }
  
  .blocks-wrapper{
    position: relative;
  
  }
  
  .blocks-cont{
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
  
    position: relative;
    top: 10em;
    z-index: 1;
  }
  
  .college{
    margin: 0;
  }
  .block{
    cursor: pointer;
    height: 24em;
    width: 18em;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2.2em;
    margin: 0 1em;
    box-shadow: 0 0.4em 0.8em black;
    transition: 0.1s ease-in-out;
    
    &:hover{
      scale: 1.05;
      box-shadow: 0 1.7em 1.8em;
    }
  }
  
  .block p {
    margin: 0.7em 2px;
  }
  
  .block-icon{
    height: 7em;
  }
  
  .description{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
    text-wrap: wrap;
  }
  
  .info-wrapper{
    position: relative;
    z-index: 0;
    height: 80em;
    background: linear-gradient(to right, #967fff, #53e858);
    border-radius: 2.2em;
  }
  
  .info-cont{
    /* color: white; */
    position: absolute;
    top: 15em;
    left: 10em;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
  
  .email-name, .desc, .bottom-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .desc{
    font-size: 1.4em;
  }
  
  #message{
    align-items: center;
  }
  
  .bottom-cont{
    width: 85%;
    position: relative;
    left: 10%;
  }
  .email-name{
    width: 50%;
  }
  
  .email-name input, #message{
    height: 3.5em;
    border-radius: 0.5em;
    margin-bottom: 3em;
  }
  
  #message{
    margin-bottom: 1.2em;
    height: 15em;
    border: 0.1em solid;
  }
  
  .p6-labels{
    font-size: 2em;
    margin: 0;
  }
  
  #get-in-touch{
    margin-bottom: 1em;
  }
  
  .top-cont{
    display: flex;
    justify-content: space-evenly;
  }
  
  .submit-btn{
    cursor: pointer;
    width: 50%;
    height: 2em;
    margin-top: .7em;
    position: relative;
    left: 25%;
    background-color: white;
    border-radius: 2em;
    font-size: 2em;
    font-weight: 700;
  }
  
  

/* Hide the scrollbar for Chrome, Safari, and Edge */
html.lenis, body.lenis {
  overflow: hidden;
}

/* Hide the scrollbar for Firefox */
html.lenis, body.lenis {
  scrollbar-width: none; /* Firefox */
}

html.lenis::-webkit-scrollbar, body.lenis::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}



/* Desktops and laptops ----------- */
@media  screen and (min-width:1224px) {
	/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width:1024px) {
	/* Styles */
    /* .banner{
        grid-template-columns: 40% 60%;
    } */

    
    .banner .content h1{
        font-size: 2em;
    }
    .listProject{
        grid-template-columns: repeat(2, 1fr);
    }
   
}
/* mobile */

@media screen and (max-width: 767px){

    .title{
        font-size: 1.7rem;
    }
    #contact {
        display: none;
    }

    /* .banner .avatar img{
        min-width: 60vw;
        height: 50vh;
    } */

    /* .banner{
        grid-template-columns: 1fr;
    } */
    .banner .content h1{
        font-size: 1.2em;
    }
    /* .banner .avatar{
        grid-row-start: 1;
    } */
    header .navDiv{
        display: flex;
        justify-content: end;
    }
    header label{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        box-shadow: var(--box-shadow);
        border-radius: 50%;
    }
    header .nav{
        position: fixed;
        background-color: #F0F3F5;
        z-index: 1;
        box-shadow: 1px 0 16px rgb(114, 114, 114) ;
        width: 70%;
        height: 100vh;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 70px);
        transform: translateX(-120%);
        transition: 0.5s;
    }
    input#menu:checked ~ .nav{
        transform: translateX(0%);
    }
    header .nav label{
        width: 50px;
        height: 50px;
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: red;
    }
    header .nav label i{
        font-size: 1rem;
    }

    .banner .content{
        padding-right: 0px;
    }
    .listSkill{
        grid-template-columns: 1fr;
    }
    .listProject{
        grid-template-columns: 1fr;
    }


    /* KJ */

    footer{
        display: none;
    }

    #contact{
        display: block;
    }


    header .logo img{
        height: 2.5rem;
    }
    
}